{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/movies/movie-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="movie-container">
  <div class="movie-img">
    <img src="{% static 'images/movie app logo.jpeg' %}" alt="Ed's movies" />
  </div>
  <div class="movie-details">
    <h1>{{ movie.title }}</h1>
    <h2>{{ movie.director }}</h2>
    <h3>{{ movie.genre }}</h3>
    <p>{{ movie.description }}</p>
    <p>{{ movie.relesed }}</p>
  </div>
    <div class="update-buttons">
      <a href="{% url 'movie-update' movie.id %}" class="btn warn">Edit</a>
      <a href="{% url 'movie-delete' movie.id %}" class="btn danger">Delete</a>
    </div>
</section>

<!-- Existing cat-container above -->
<div class="cast-container">
  <section class="cast">
    <div class="subsection-title">
      <h2>Cast</h2>
      <img
        src="{% static 'images/movie-time.jpeg' %}"
        alt="movie time"
      />
      <img src="{% static 'images/film-logo.avif' %}" alt="A movie logo" />
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Notable Films</th>
          <th>Years Active</th>
        </tr>
      </thead>
      <tbody>
        {% for cast in movie.cast_set.all %}
          <tr>
            <td>{{cast.name}}</td>
            <td>{{cast.age}}</td>
            <td>{{cast.notable_films}}</td>
            <td>{{cast.years_active}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

<h3>Add Cast</h3>
<!-- Add just above the feedings table -->
<form 
  action="{% url 'add-cast' movie.id %}"
  method="post" 
  class="subsection-content" 
  autocomplete="off"
  >
  {% csrf_token %} 
  {{ cast_form.as_p }}
  <button type="submit" class="btn submit">Add Cast</button>
</form>

{% endblock %}
